.continer {
    max-width: 500px;
    margin: 10px auto;
}

.card {
    position: relative;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin-top: 10px;
}

.card img {
    width: 100%;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.card .cardfornt {
    position: absolute;
    transform: rotateY(90deg);
    
}

.card .cardback {
    transform: rotateY(0deg);
    transition: 0.2s;


}

.rotated .cardfornt {
    transform: rotateY(0deg);
    transition: 0.2s;
    
}

.rotated .cardback {
    transform: rotateY(90deg);
    transition: 0.2s;
    
}
